!!!
/[if IEMobile 7 ] <html class="no-js iem7">
/ [if (gt IEMobile 7)|!(IEMobile)]><!
%html.no-js
  / <![endif]
  %head
    %link{:rel => 'shortcut icon', :href => '/assets/favicon.ico' }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title Crazy Dancing Guy
    %meta{:content => "True", :name => "HandheldFriendly"}
    %meta{:content => "320", :name => "MobileOptimized"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "", :name => "apple-mobile-web-app-title"}
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Open+Sans', :type => 'text/css'}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}/
  %body
    %div.container
      = render :partial => "layouts/top_menu"
      .box
        = yield